<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" />
    </a>
  </li>
  <li class="nav-item">
    <div class="hrms"><b>HRMS</b></div>
  </li>
</ul>
<div class="card w-75">
  <div class="card-body">
      <div class="container">
        <div class="row ">
           <div class="col-sm">
               <label for="fname">First name:</label>
                 <input type="text" id="fname" name="fname">
                
           </div>
           <div class="col-sm">
               <label for="lname">Last name:</label>
                 <input type="text" id="lname" name="lname">
               
            </div>
       </div><br>
       <div class="row ">
           <div class="col-sm">
               <label for="email">Email:</label>
                 <input type="email" id="email" name="email">
                
           </div>
           <div class="col-sm">
               <label for="number">Contact No.:</label>
                 <input type="text" id="number" name="number">
               
            </div>
       </div><br>
       <div class="row">
           <label for="bank"><b>Bank Details:-</b>Bank Name:</label>
                 <input type="text" id="bank" name="bank">
           
       </div><br>
       <div class ="row">
           <label for="accno">Account Number:</label>
                 <input type="text" id="accno" name="accno">
       </div><br>
       <div class="row">
        <label for="accname">Account Holder's Name:</label>
                 <input type="text" id="accname" name="accname">   
       </div><br>
       <div class="row">
           <label for="ifsc">IFSC Number:</label>
                 <input type="text" id="ifsc" name="ifsc">
                 
       </div><br>
       <div class="row">
           <a href="#" class="btn btn-outline-primary btn-lg " role="button" >Save</a>
       </div><br>
       <div class="row">
           <div class="col-sm">
               
            </div>
            <div class ="col">
              <a href="#" class="btn btn-primary btn-sm" role="button">Salary</a>  
             <a href="#" class="btn btn-primary btn-sm" role="button">Deductions</a>

            </div>
            
       </div>
       
      
     </div>
        
   </div>
</div>
