@import url(https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css);
.hrms {
  display: inline-block;
  width: 50%;
  font-size: 50px;
}
img {
  width: 80%;
  height: 80%;
  margin-top: 10px;
}
.tabheading {
  text-align: center;
}
.bttn {
  margin-left: 10px;
}
.styletable {
  margin-top: 50px;
}
.navstyle {
  margin-top: 20px;
}
