
<ul class="nav justify-content-center navstyle">
    <li class="nav-item">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" />
      </a>
    </li>
    <li class="nav-item">
      <div class="hrms"><b>HRMS</b></div>
    </li>
  </ul>
<form>
    <div class="container styletable" *ngFor="let personalDetails of dataarray">
        
        <div class="form-row" >
            <div class="form-group col-md-1" >
                <label >
                    EmployeeID
                </label>
                <input type="text" class="form-control" name="employeeid" [(ng-model)]= "personalDetails.id">
            </div>
            <div class="form-group col-3">
                <label>
                    Name
                </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-3">
                <label>
                    Email
                </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-2">
                <label>
                    Joining Date
                </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-1">
                <label>
                    CTC
                </label>
                <input type="text" class="form-control">
            </div>
            
        </div>
        <span (click)="addNew(personalDetails)"class="btn btn-success">+</span>
        <button class="btn btn-success bttn">Submit</button>
    </div>
</form>
